<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("./header.ejs") %>
    <main>
    <div class="formContainer">
    <form action="" method="post">
        <h1>LOGIN FORM</h1>
      <div>
        <label for="emaile">Email</label>
        <input type="text" id="emaile" placeholder="Email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="text" id="emaile" placeholder="Password" />
      </div>
      <div class="check"><input type="checkbox" name="" id="check"> <label for="check">want to remember password</label></div>
      <button type="submit">submit</button>
    </form>
    </main>
  </body>
  </div>
</html>
